extends _inc

block article
  section.slider.d-none.d-md-block
    .owl-carousel.slider-carousel.owl-theme
      .item
        .slider-text
          h1 Máy chà sàn liên hợp ngồi lái EuroMac
          h4  Được thiết kế và vận hàng kết hợp giữa tính năng vừa chà sàn và hút nước (bẩn) cùng nhau. Phù hợp cho nhà xưởng, bệnh viện, trung tâm thương mại…
          .slider-text-btn
            a(href='san-pham.html')
              | mua sắm ngay
              i.mdi.mdi-arrow-right
        img(src='../img/slider-1.png')
      
      .item
        .slider-text
          h1 Máy hút bụi hút thảm không ồn công nghiệp EuroMac
          h4  Máy hút bụi – nước công nghiệp đa dụng. Thân máy bằng nhựa. Di chuyển trên 04 bánh xe quay được 180 độ thuận tiện cho mọi địa hình.
          .slider-text-btn
            a(href='san-pham.html')
              | mua sắm ngay
              i.mdi.mdi-arrow-right
        img(src='../img/slider-2.png')


  section.category
    .container
      .box-cate.box-cate-1
        a(href='san-pham.html')
          img(src='../img/cate-1.png')
      .box-cate.box-cate-2
        a(href='hoa-chat-cha-san.html')
          img(src='../img/cate-2.png')
      .box-cate.box-cate-3
        a(href='may-ve-sinh-cong-nghiep.html')
          img(src='../img/cate-3.png')

  section.product
    .container
      .title-page
        h1 sản phẩm nổi bật

      .swiper-container.swiper-product
        .swiper-wrapper
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          .swiper-slide
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
          
          


        .swiper-button-next
        .swiper-button-prev

      .product-all
        a(href='san-pham.html') 
          | Xem tất cả sản phẩm
          i.mdi.mdi-arrow-right

  section.service
    .container
      .title-page
        h1 dịch vụ vệ sinh công nghiệp
      
      .row
        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

        .col-lg-4.col-sm-6
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4(title='Dịch vụ vệ sinh công nghiệp') Dịch vụ vệ sinh công nghiệp

  section.partner
    .container
      .owl-carousel.partner-carousel.owl-theme
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        
